.f1{
    font-size: 2em;
    font-family: 'Nerko One', cursive;
}
.f1_1{
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.f1_2{
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1px solid royalblue;
    text-align: center;
    
}