/* *{
    color: tomato;
} */

/* 아이디 선택자*/
#id1{
    color: royalblue;
}

h1 {
    color: tomato;
}

/* 클래스 선택자*/
.c1{ 
    color: khaki;
}

*{
    margin: 0;
    padding: 0;
}
.c2{
    width: 200px;
    height: 200px;
    background-color: mistyrose;
}
/* 자손 선택자 */
.c2>p{
    color:salmon;
    text-decoration: overline;
}
/* 후손 선택자
.c2 p{
    color: darkolivegreen;
} */
/* 후손만 선택자 */
.c2 > div>p{
    color: darkolivegreen;
    text-decoration: underline;
}


